@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #18181b;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Custom nth-child styles for alternating colors */
.nth-child-odd\:bg-custom-black:nth-child(odd) {
  background-color: #000; /* Black */
}

.nth-child-even\:bg-custom-red:nth-child(even) {
  background-color: #18181b; /* Red */
}

.large-screen {
  display: none;
}

.home-table-height-container {
  height: calc(100vh * 33 / 40);
}

.home-table-width-container {
  width: 100vw;
  padding-right: 10px;
  padding-top: 0px;
}

.home-table-container {
  border-radius: 0 0 0.375rem 0.375rem;
}

.nav-menu-mobile-text-size {
  font-size: 0.8rem;
}

.home-table-toolbar {
  display: none;
}

.small-screen {
  display: flex;
}

.medium-screen {
  display: none;
}

.home-table-toolbar-container {
  /* height: calc(100% * 2 / 20); */
  justify-content: end;
  /* display: none; */
  flex-direction: column;
}

.home-table-mobile-container {
  height: calc(100% * 19 / 20);
}

.home-table-progress-bottom {
  display: flex;
}

.home-toolbar-button {
  width: calc(100% * 1 / 2);
}

.home-toolbar-button-div {
  width: 100%;
}

.record-side-panel {
  display: none;
}

.record-view-panel {
  width: 100%;
  padding-right: 10px;
}

.record-overlay {
  display: flex;
}

.record-question-size {
  font-size: 0.8rem;
}

.review-video-panel {
  width: 100%;
}

.review-padding-fix {
  padding-right: 10px;
}

@media (min-width: 640px) {
  .large-screen {
    display: none;
  }
  .medium-screen {
    display: none;
  }
  .small-screen {
    display: flex;
  }
  .nav-menu-mobile-text-size {
    font-size: 1rem;
  }
  .home-table-toolbar {
    display: flex;
  }
  .home-table-toolbar-container {
    /* height: calc(100% * 2 / 20); */
    justify-content: space-between;
    flex-direction: row;
  }

  .home-table-mobile-container {
    height: calc(100% * 17 / 20);
  }

  .home-toolbar-button-div {
    width: fit-content;
  }

  .record-question-size {
    font-size: 1.3rem;
  }
}

@media (min-width: 768px) {
  .large-screen {
    display: none;
  }
  .medium-screen {
    display: flex;
  }
  .small-screen {
    display: none;
  }
  .mobile-nav {
    display: flex;
  }
  .home-toolbar-button {
    width: fit-content;
  }

  .record-question-size {
    font-size: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .large-screen {
    display: flex;
  }
  .medium-screen {
    display: none;
  }
  .small-screen {
    display: none;
  }
  .home-table-width-container {
    width: calc(100% * 5 / 6);
    padding-right: 5px;
    padding-top: 5px;
  }
  .home-table-height-container {
    height: calc(100vh * 9 / 10);
  }
  .mobile-nav {
    display: none;
  }
  .home-table-container {
    border-radius: 0.375rem 0.375rem 0.375rem 0.375rem;
  }
  .home-table-progress-bottom {
    display: none;
  }
  .record-side-panel {
    display: flex;
  }
  .record-view-panel {
    width: calc(100% * 5 / 6);
    padding-right: 5px;
  }
  .record-overlay {
    display: none;
  }
  .review-video-panel {
    width: calc(100% * 2 / 3);
  }
  .review-padding-fix {
    padding-right: 5px;
  }
}
