@tailwind base;
@tailwind components;
@tailwind utilities;

.lato {
  font-family: "Lato", sans-serif;
}

.kanit {
  font-family: "Kanit", sans-serif;
}

.merriweather {
  font-family: "Merriweather Sans", sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

/* Custom nth-child styles for alternating colors */
.nth-child-odd\:bg-custom-black:nth-child(odd) {
  background-color: #000; /* Black */
}

.nth-child-even\:bg-custom-red:nth-child(even) {
  background-color: #18181b; /* Red */
}
